{% extends "base.html" %}
{% load static %}
{% block title %}予約{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_green.css">
<link rel="stylesheet" href="{% static 'css/reservation_form.css' %}">
{% endblock %}

{% block content %}
<div class="container reservation-container">
    <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'restaurants:restaurant_list' %}">ホーム</a></li>
            <li class="breadcrumb-item"><a href="{% url 'restaurants:restaurant_detail' restaurant.pk %}">{{ restaurant.name }}</a></li>
            <li class="breadcrumb-item active">予約</li>
        </ol>
    </nav>

    <h1 class="mb-4 text-center">{{ restaurant.name }}</h1>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <form method="post" class="mt-4" name="reservation_form">
        {% csrf_token %}
        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group row mb-3">
                    <label for="date-picker" class="col-md-5 col-form-label text-md-left fw-bold">予約日 <span class="badge bg-danger">必須</span></label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="date-picker" name="date" 
                               data-id="{{ restaurant.closed_days }}" 
                               placeholder="予約日を選択してください" required>
                        {% if form.date.errors %}
                        <div class="error-message">{{ form.date.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="time-select" class="col-md-5 col-form-label text-md-left fw-bold">時間 <span class="badge bg-danger">必須</span></label>
                    <div class="col-md-7">
                        <select name="time" class="form-control form-select" id="time-select" required>
                            <option value="" hidden>予約時間を選択してください</option>
                            {% for time in times %}
                            <option value="{{time}}">{{time}}</option>
                            {% endfor %}
                        </select>
                        {% if form.time.errors %}
                        <div class="error-message">{{ form.time.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="number_of_people" class="col-md-5 col-form-label text-md-left fw-bold">人数 <span class="badge bg-danger">必須</span></label>
                    <div class="col-md-7">
                        <select name="number_of_people" class="form-control form-select" id="number_of_people" required>
                            <option value="" hidden>予約人数を選択してください</option>
                            {% for i in "12345678"|make_list %}
                            <option value="{{ i }}">{{ i }}名</option>
                            {% endfor %}
                            <option value="9">9名以上</option>
                        </select>
                        {% if form.number_of_people.errors %}
                        <div class="error-message">{{ form.number_of_people.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" id="reservation-button">予約する</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/ja.js"></script>
<script src="{% static 'js/reservation_form.js' %}"></script>
{% endblock %} 